/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

html,
body {
  min-height: 100%;
  background-color: var(--color-stone-900);
  color: var(--color-stone-100);
}
